{% comment %} id-tdakar40@gmail.com ps-Tenzindakar65@ {% endcomment %}
{% extends 'base.html' %}

{% block body %}
<h1>Proceeding to Payment</h1>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<button id="rzp-button">Pay Now</button>

<script>
var options = {
    "key": "{{ razorpay_key }}",
    "amount": "{{ amount }}",
    "currency": "INR",
    "name": "My Shop",
    "description": "Food Delivery Payment",
    "order_id": "{{ order_id }}",
    // This is the URL where Razorpay will POST the success data
    "callback_url": "http://127.0.0.1:8000/payment-success/", 
    "prefill": {
        "name": "Tenzin Dakar",
        "email": "tdakar40@gmail.com",
    },
    "theme": {
        "color": "#3399cc"
    }
};
var rzp = new Razorpay(options);
document.getElementById('rzp-button').onclick = function(e){
    rzp.open();
    e.preventDefault();
}
</script>
{% endblock body %}